<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="lab1.dao.StudentConsoleDao">
    </bean>

    <bean id="studentService" class="lab1.service.StudentServiceImpl">
        <constructor-arg name="studentDao" ref="studentDao"/>
    </bean>


    <bean id="csvProvider" class="lab1.dao.CSVProvider"/>
    <bean id="questionnaireService" class="lab1.service.QuestionnaireServiceImpl">
        <constructor-arg name="provider" ref="csvProvider"/>
    </bean>

    <bean id="inquirerService" class="lab1.service.InquirerServiceImpl" >
    </bean>

    <bean id="scoringSerivce" class="lab1.service.ScoringServiceImpl" />


</beans>